name: Test

on:
  pull_request:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'zulu'
      - uses: actions/checkout@v4
      - name: Test with Gradle
        run: ./gradlew test:test --stacktrace
